textarea {
   resize: none;
}
h1{
    text-align: center;
    font-family: 3px solid red;
}
#datepickerDiv{
    margin: auto;
    margin-top: 5px;
    margin-bottom: 3px;
}
#datepicker{
    display: block;
    margin: auto;
    border: 2px solid;
    border-radius: 25px;
    text-align: center;
    font-weight: bold;
}
body{
    min-width: 25%;
}
#imgDiv{
    margin: auto;
    background-image: url('../img/event.jpg');
    background-size: 50px 50px;
    height: 50px;
    width: 50px;
    margin-top: -18px;
}